@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    
}

body{

    background-image: url('../img/capa12.jpg');
    background-position: center 0;
    width: 80%;
    background-repeat: no-repeat;
}
li{
    list-style: none;
}
.card-1 a:hover{
    background-color: #FAD928;
    color: #00686C;
}
.card-2 a:hover{
    background-color: #32C2B9;
}
.card-3 a:hover{
    background-color: #32C2B9;
}
/*li:hover{
    background-color: #FAD928;
    border-radius: 15px;
    width: 50px;
    height: 20px;
    position: center center;
}
*/

/*Barra de pesquisa*/
.search-container input[type="text"]{
    color: #e4e114;
}
.search-container {
    
    margin-top: 50px;
    padding-bottom: 55px;
  }  
  input[type="text"] {
    margin-left: 40%;
    color: #FAD928;
    background-color: #00686C;
    padding: 10px;
    width: 300px;
    border: 1px solid #FAD928;
    border-radius: 20px;

  }  

.login:hover{
    color: #FAD928;
    border:#FAD928 solid 1px;
    background-color: #00686C;
    margin: -1px;
}
.login{
    background-color: #FAD928;
    width: 90px;
    padding: 0.2rem 1rem;
    border-radius: 15px;
    justify-content: center;
    justify-items: center;
    transition: all 300ms ease;
    
}
/*BAR escondido*/
.btnlogin{
    display: none;
}
/*Links da barra principal header*/
a{
    text-decoration: none;
    color: #32C2B9;
    position: center center;
    font-size: 1.2em;
    transition: all 200ms ease;
}
a:hover{
    color: #FAD928;

}
/*Header*/
header{

    width: 100%;
    position: absolute;
    padding: 0;
    background-color: #00686C;
}
.navbar{

    width: 100%;
    height: 60px;
    max-width: 1200px;
    padding-bottom: 3px;
    padding-top: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo{
    
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.links{
    padding: 0 16rem;
}

/*Banner*/
/*Cards tranparentes no banner capa*/
.cardsbanner{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 15%;
    height: 31%;
    justify-content: center;
    justify-items: center;
    color: #00686C;
    margin-top: 0%;
    padding-left: 7%;
    padding-top: 7%;
}
.cardsbanner1 img{
    margin-top: -20px;
}
/*Card transparente no banner capa kanji*/
.cardsbanner1{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 13rem;
    height: 10%;    
    color: #00686C;
    margin-left: 65%;
    margin-top: 1%;
    padding: 3rem 2rem 3rem 4rem;
}
.cardsbanner1 p{
    color: #00686C;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 30px;
    margin-bottom: 0%;
    margin-top: -10%;
    padding-bottom: 0%;
}
/*Container cards*/  /*espacamento dos cards e head*/
.container {
    margin-bottom: 0%;
    margin-top: 1%;
    padding-bottom: 20%;
    width: 100%;
    display: flex;
    padding: 0 9rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}
.container, .card-1, .card-2, .card-3{
    margin-top: 10%;
    margin-bottom: 1%;
}
.container-texto p{
    color:#808080 ;
}
.link-texto{
    color: #808080;
}
.conteudo-um p, .conteudo-dois p, .conteudo-tres p{
    color: #00686C;

}
/*CARDS primeiros*/
.card {
    z-index: 10;
    margin-top: 13%;
    width: 300px;
    height: 280px;  
    background-color: #fada28c9;
    overflow: hidden;
    box-shadow: 0px 1px 6px .5px rgba(0, 0, 0, 0.7);
}
/*CARD 2*/
.card-2{
    background-color: #32c2b8d5;
}
.card-2 p{
    width: 40px;
}
.card-footer2{
    margin-top: 16px; 
    background-color: #FAD928;
    text-align: center;
}
.card-footer2 a{  
    color: #00686C;
    display: block; 
    padding: 16px;
    transition: all 00ms ease;
}
/*CARD 3*/
/*  CARD   3  */
.card-3 .r{
    width: 40px; 
    height: 40px;
    background-color: #fcfcfc; 
    border-radius: 50%;
}
/*card transparente*/
.card-3{
    background-color: #32c2b8d0;
}

.card-footer3{
    margin-top: 16px; 
    background-color: #FAD928;
    text-align: center;
}
.card-footer3 a{  
    color: #00686C;
    display: block; 
    padding: 16px;
}

/*Card header*/
.card-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.card-img{
    min-width: 100%;
    width: auto;  
    height: 100%;
}
/* PRIMEIRO Card */
.hiragana{ /* Estilo do texto dos cards*/
    justify-content: center;
    display: flex;
    font-size: 30px;
    font-weight: 500;
    gap: .9rem;
}
.card-body .a{
    background-color: #00686C;
    color: #fcfcfc;
    border-radius: 50%;
    width: 50px;
    height: 40px;

}
.i{
    background-color: aliceblue;
    border-radius: 50%;
    width: 50px;
    height: 40px;
}
.u{
    background-color: aliceblue;
    border-radius: 50%;
    width: 50px;
    height: 40px;
}
.e{
    background-color: aliceblue;
    border-radius: 50%;
    width: 50px;
    height: 40px;
}
.o{
    background-color: aliceblue;
    border-radius: 50%;
    width: 50px;
    height: 40px;
}
/*CARD body*/
.card-body p{
    color: #00686C;
    font-size: 28px;
    font-weight: 600;
    margin: 3px;
    
}
.card-body h2{
    color: ;
    padding: 5px;
}
.card-body{
    color: #00686C;
    height: 170px;
    padding: 20px;
    text-align: center;

}
.card-titulo{
    margin: 10px 0;
}
.card-footer{
    margin-top: 16px; 
    background-color: #32C2B9;
    text-align: center;
}
.card-footer a{  
    color: #00686C;
    display: block; 
    padding: 16px;
}
hr {
	width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
	text-align: right; /* Para o IE */
 /* Para navegadores standard */
	}

    /*CARD 3*/
.card-3 .card-body p{
    margin: 2px;
    font-size: 28px;
    font-weight: 500;
}

/*Conteiner de texto*/

/*TRES textos após os CARDS*/
.container-texto{
    color: rgba(0, 0, 0, 0.5);
    margin: 2%;
    width: 90%;    
    display: flex;
    gap: 1.5rem;   
    padding: 0 10rem;
    justify-content:flex-start;
    text-indent: 10%;
    text-align: justify;
  
}
/*explicaçao da pronuncia*/
.significado {
    display: flex;
    padding-top: 0px;
    margin-top: -20px;
    margin-left: 40px;
}
.iconeplay{
    cursor: pointer;
}
.nani{
    margin-bottom: 0px;
}
/*cores na explicaçao*/
.vermelho{
    color: #c00c0c;
}
.verde{
    color: #30c573;
}
.azul{
    color: #3a30c5;
}
.rosa{
    color: #e9559a;
}
.roxo{
    color: #a81f9d;
}
.container-texto{
    font-size: 1em;
}

/* linkss SAIBA MAIS ... */
.container-link a{
    display: block;
    text-align: right;
}
/* H1 do conteudo FRASE*/
.frase{
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 8%;
    margin-top: 8%;
    color: #00686C;
    padding: 0 9rem;  
}
.link-texto{
    text-indent: 0%;
    display: flex;    
    justify-content: space-between;

}
.saiba{
    padding-top: 10%;
    font-size: 1em;
    padding-right: 5%;
}
.saiba a{
    font-size: .9em;
    
}
.saiba2{
    padding-top: 15%;
    font-size: 1em;
}
.saiba2 a{
    font-size: .9em;
}
/*Conteudo centrais FRASES COM AUDIO*/
.conteudo-um {
    position: relative;
    margin: 0;
    padding: 0;
    padding: 0 9rem;
    
}
/*classe do conteúdo da parte frases com audio*/
.audio-conteudo-um{
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    width: 100%;
    align-content: center;
    justify-content: center;
    height: 275px;
    border: 3px solid rebeccapurple;
}
/*classe da parte do botao play*/
.audio-frase{
    width: 48%;
    color: #00686C;
    text-align: center;
}
.audio-frase h3{
    margin-top: 10px;
}
.audio-frase p{
    font-weight:500;
    font-size: 1.2em;
    margin: 2%;
}
.audio-frase img{
    width: 48px;
}
.audio-frase p h3{
    align-items: center;
    justify-content: center;    
}

/*Nome Meu Amigo Totoro fundo transpanrente*/
.totoro{
    background-color: rgba(255, 255, 255, 0.5);
    height: 25%;
    padding: 4% 0px 0px 2%;
    width: 25%;
    margin: 1% 3% 0px 0px;
    position: absolute;
    top: 35%;
}
.totoro p{
    padding: 4% 0px 0px 2%;
    font-size: 1.5em;
    color: #00686C;
    font-weight: 600;
}

/*Segundo Conteudo Frases de Anime*/

.frase-dois{
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 8%;
    margin-top: 8%;
    color: #00686C;
    padding: 0 9rem;  
}
/*H2 FRSES DE ANIME*/
.conteudo-dois{
    position: relative;
    margin: 0;
    padding: 0;
    padding: 0 9rem;
    position: relative;
    margin: 0;
    padding: 0;
    padding: 0 9rem;
    margin-top: 40%;
}
/*Conteudo de segundo card do meio*/
.audio-conteudo-dois{
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    width: 100%;
    align-content: center;
    justify-content: center;
}
/*Conteudo do segundo card*/
.audio-frase-dois{
    border: 1px solid rgb(71, 71, 75);
    width: 48%;
    height: 273px;
    color: #00686C;
    text-align: center;
}
.audio-frase-dois h3{
    margin-top: 10px;
}
#autor{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    text-align: right;
    font-weight: bold;
}
.audio-frase-dois p{
    font-weight:500;
    font-size: 1.2em;
    margin: 3%;
}

.audio-frase-dois p h3{
    align-items: center;
    justify-content: center;    
}
/*nome Death Note fundo transparente*/
.deathnote{
    background-color: rgba(255, 255, 255, 0.5);
    height: 25%;
    padding: 4% 0px 0px 2%;
    width: 25%;
    margin: 1% 3% 0px 0px;
    position: absolute;
    top: 35%;
    padding-left: 2%;
    margin-left: 22%;
    
}
.deathnote p{
    padding: 4% 0px 0px 2%;
    font-size: 1.5em;
    color: #00686C;
    font-weight: 500;
    text-align: right;
    padding-right: 15%;
    font-weight: 600;
 
}
/* Terceiro Conteudo Cultura Niponica*/
/* He CULTURA NIPONICA*/
.conteudo-cultura{
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 8%;
    margin-top: 8%;
    color: #00686C;
    padding: 0 9rem;
    
}
.conteudo-tres{
    position: relative;
    margin: 0;
    padding: 0;
    padding: 0 9rem;
    margin-top: 40%;
}
.cultura-conteudo-tres{
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    width: 100%;
    align-content: center;
    justify-content: center;
    height: 275px;
}

.cultura-frase-tres{
    border: 1px solid rgb(71, 71, 75);
    width: 48%;
    color: #00686C;
    text-align: center;
}
.cultura-conteudo-tres h3{
    margin-top: 10px;
}
.cultura-conteudo-tres p{
    font-weight:500;
    font-size: 1.2em;
    margin: 3%;
}
.audio-frase-tres p h3{
    align-items: center;
    justify-content: center;    
}
/*Nome Tokyo fundo transparente*/
.tokyo{
    background-color: rgba(255, 255, 255, 0.5);
    height: 25%;
    padding: 3% 0px 0px 0%;
    width: 25%;
    margin: 1% 3% 0px 1%;
    position: absolute;
    top: 35%;    
    padding-left:2%;
    margin-left: 22%;    
}
.tokyo p{
    padding: 1% 5% 0px 0px;
    font-size: 1.5em;
    color: #00686C;
    font-weight: 500;
    text-align: right;
    padding-right: 15%;
    font-weight: 600; 
}

/*Footer*/
.footer-pagina{
    position: absolute;
    width: 100%;
    background-color: #00686C;
    text-align: center;
    margin-top: 30%;
}
.footer-pagina .grupo-1{
    padding-top: 90px;
    width: 100%;
    padding: 0 90px 0 0;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
}
/*Centralizar o logo no footer*/
.footer-pagina .grupo-1 .box img{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*estilizar textos*/
.footer-pagina .grupo-1 .box h2, p{
    color: #d3d1d1;
}
.footer-pagina .grupo-1 .box h2{
    color: #d3d1d1;
    margin: 10px;
    font-size: 20px;
}
/*Icones redes sociais*/

.footer-pagina .grupo-1 .box .rede-social a{
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #00686C;
    margin-right: 10px;
    align-items: center;
    background-color: #32C2B9;
    text-align: center;
    border-radius: 7px;
}
.footer-pagina .grupo-1 .box .rede-social a:hover{
    color:#e4e114;
}
.footer-pagina .grupo-2{
    background-color: #32C2B9;
    padding: 15px;
    text-align: center;
    color: #f5f5f5;
}











