
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


/*  Header NAV  */ 

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
    background-color: #00686C;
    height: 10vh;
}
.login-button button{
    border: none;
    background-color: #FAD928;
    color: #00686C;
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: 500;
}
.login-button button:hover{
    color: #e4e114;
    background-color: #00686C;
    padding: 7px 15px;
    border: solid 1px #e4e114;
}
/* Botao do NAV para mobile*/
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    background-color: #00686C;    
    display: none;

}
.nav-list ul{
    display: flex;
    list-style: none;
}
.nav-list li{

    letter-spacing: 1px;
    margin-left: 20px;
}


/*Barra de pesquisa*/
.search-container input[type="text"]{
    color: #e4e114;
    margin-left: -0px;
   
}
.search-container {
    
    margin-top: 50px;
    padding-bottom: 55px;
  }

  input[type="text"] {
    margin-left: 40%;
    color: #FAD928;
    background-color: #00686C;
    padding: 10px;
    width: 220px;
    height: 30px;
    border: 1px solid #FAD928;
    border-radius: 20px;
    
  }  

  .login:hover{
    color: #00686C;
    border:#FAD928 solid 1px;
    background-color: #00686C;
    margin: -1px;
}


/*Links da barra principal header*/
a{
    text-decoration: none;
    color: #32C2B9;
    position: center center;
    font-size: 1.2em;
    transition: all 200ms ease;
}
a:hover{
    color: #FAD928;

}

/* Outra maneira de inserir a capa do site
main{
    background: url("img/capa12.jpg") no-repeat
    center center;
    background-size: cover;
    height: 40vh;
}
*/

/* imagem de CAPA */
.banner img{
    width: 100%;
 
}
.banner{
    position: relative;
}

.texto-banner {
    position: absolute;
    top: 30%;

    width: 20%;
    right: 8%;
    transform: translate(-50%, -50%);
    color: #00686C;
    font-size: 54px;
    text-align: center;
  }
.figura-banner{
    position: absolute;
    top: 49%;
    background-color: #8585858c;
    height: 97%;
    width: 18%;
    right: 65%;
    transform: translate(-50%, -50%);
    color: #00686C;
    font-size: 54px;
    text-align: center;
}
.texto-banner p{
    color: #05979c;
    font-size: 35px;
}
.topo{
    margin-top: -5px;
    padding-top: -50;
    position: absolute;
    
}
.barra-topo{
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}
/*Cards tranparentes no banner capa*/
.cardsbanner{
   
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 15%;
    padding-top: 0;
    justify-content: center;
    justify-items: center;
    color: #00686C;

}

.cardsbanner h2{

}
.cardsbanner1 img{
    margin-top: -20px;
}

/* link dos cards hiragana */
.card a:hover{
    background-color: #05979c;

}

.card h2{
    color: #055457;
}
.card-body{
    width: 220px;
    padding: -50px;
    margin: 9px;
}
.cards{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 1vh;

}

aside.cards  section.card{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #32c2b8d5;
    border-radius: 5px;
    height: 120px;
    max-width: 110px;
    min-width: 50px;
    margin-left: 20px;
    box-shadow: 0px 1px 6px .5px rgba(0, 0, 0, 0.7);
    padding: 150px 140px;
    z-index: 3;
    
}
aside.cards  section.card:first-child{
    background-color: #fada28b6;
    margin-left: 0;
    min-width: 250px;
    margin: 0px;
   
 
}

aside.cards section.card h2{
    margin: 16px 45px;
    font-size: 100%;
    margin: 6px;
}
/*Primeiro card*/

.hiragana{ /* Estilo do texto dos cards*/ 
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    gap: .2rem;
    padding-top: 1px;
    margin-top: 1px;
}

 .hiragana .a{
    background-color: #00686C;
    color: #fcfcfc;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  
}
.i, .u, .e, .o{
    color: #00686C;
    background-color: aliceblue;
    border-radius: 50%;
    padding-bottom: 3px;
    width: 30px;
    height: 30px;
}

.card-3 .r{
    font-size: 18px;
    font-weight: 400;
    width: 30px; 
    height: 30px;
    background-color: #fcfcfc; 
    border-radius: 50%;
}
/* terceiro card */
.card-body p{
    font-size: 16px;
    color: #00686C;
    font-weight: bold;
}

/*Card footer*/
/* Link dos CARDS */
.card-footer-1 a{
    position: relative;
    text-decoration: none;    
    margin: 2px 20px;
    display: flex;
    color: #4d4d4d;
    font-weight: 600;
    background-color: #53CCC3;
    border-radius: 5px;
    padding: 15px 115px 10px 115px;
    margin-top: 10px;
}


.card-footer-2 a{
    position: relative;
    text-decoration: none;
    margin: 2px 10px;
    display: flex;
    color: #4d4d4d;
    font-weight: 600;
    background-color: #FBE465;
    border-radius: 5px;
    padding: 15px 115px 8px 115px;
    margin-top: 20px;
    margin-bottom: 0px;

}


.card-footer-3 a{
    position: relative;
    text-decoration: none;
    margin: 2px 10px;
    display: flex;
    color: #4d4d4d;
    font-weight: 600;
    background-color: #FBE465;
    border-radius: 5px;
    padding: 15px 115px 10px 115px;
    margin-top: 10px;
}

/* Container de 3 Textos*/
.container-texto{ 
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    height: 70vh;
    width: 190px;
    margin: 2%;
    width: 100%;    
    display: flex;
     padding-top: 15%;
     margin: 0;  
    text-indent: 10%;    
    letter-spacing: 1px;
    line-height: 1;
    
}


.container-link{
    flex: 1;
    padding: 20px;
 
    max-width: 270px;
    margin: 15px;  
}
.container-link p{
    color: #636363;
}
.link-texto{
    color: #636363;
    text-indent: 0;
}

.first-letter-styling::first-letter {
    font-size: 45px; /* Tamanho de fonte para a primeira letra */
    color: #05979c; /* Cor da primeira letra */
    font-weight: bold; /* Estilo de fonte para a primeira letra */

  }
  .saiba{
    margin-top: -24px;
    float: right;
  }
  .saiba a{
    font-size: 14px;
    background-color: #05979c;
    width: 90px;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    padding-top: 5px;
  }

  /*Conteudo do audio card central*/

  .frase{
    text-align: center;
  }


.totoro p{
 
    margin-bottom: 90px;
}
.img-totoro{
    position: relative;
    width: 5%;
    height: 5%;
}
.img-container{
    position: relative;
  }
figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo da legenda */
    color: #fff; /*Cor do texto da legenda */
    padding: 1px; /* Espaçamento interno da legenda */
  }
 
  .significado {
    margin-left: 40px;
    padding-left: 30px;
    margin: 10px;
    display: flex;
    padding-top: 0px;

}
.iconeplay img{
    width: 30px;
    height: 30px;
  }
  .img-totoro{
    width: 100%;
    margin: 0;
    padding: 0;
}

.container-box {

    display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  }
  
  .box-um {   
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 700pxpx;
  }




/*Footer*/
.footer-pagina{
    position: absolute;
    width: 100%;
    background-color: #00686C;
    text-align: center;
    margin-top: 30%;
}
.footer-pagina .grupo-1{
    padding-top: 90px;
    width: 100%;
    padding: 0 90px 0 0;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
}
/*Centralizar o logo no footer*/
.footer-pagina .grupo-1 .box img{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*estilizar textos*/
.footer-pagina .grupo-1 .box h2, p{
    color: #d3d1d1;
}
.footer-pagina .grupo-1 .box h2{
    color: #d3d1d1;
    margin: 10px;
    font-size: 20px;
}
/*Icones redes sociais*/

.footer-pagina .grupo-1 .box .rede-social a{
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    line-height: 40px;
    color: #00686C;
    margin-right: 10px;
    align-items: center;
    background-color: #32C2B9;
    text-align: center;
    border-radius: 7px;
}
.footer-pagina .grupo-1 .box .rede-social a:hover{
    color:#e4e114;
}
.footer-pagina .grupo-2{
    background-color: #32C2B9;
    padding: 15px;
    text-align: center;
    color: #f5f5f5;
}

/*media 730px  */
@media (max-width: 730px){
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .item{
        display: none;
    }
    .logo img{
        width: 120px;
        float: left;
    }
    .login-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        
    }
    .mobile-menu .item{
        display: block;
        padding-top: 1.2rem;
        background-color: #00686C;
        padding-bottom: 30px;
        margin-top: 0;
    }
    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
        background-color: #00686C;
        margin-top: 0;
        
    }
    .mobile-menu .login-button button{
        width: 100%;
        
    }
    .open{
        display: block;
    }
}




/* Media query*/
@media (max-width: 767px) {
   .cards{
        flex-direction: column;
        margin-top: 320px;
   
    }

.card{
    margin-bottom: 32px;
    width: 400px;
}
main.cards section.card{
    margin-left: 0;
    max-height: 350px;   
    
}
aside.cards section.card{
    padding: 130px 180px;
}
aside.cards section.card:first-child{
    margin-left: 32px;
    margin-bottom: 32px;
    
    
}
/* link cards */
.card-footer-1 a, .card-footer-2 a, .card-footer-3 a{   
    margin: 2px 10px;
    padding: 15px 130px 10px 130px;
    margin-top: 10px;
}

}